.velozes_poster{
    background-image: url("../CSS/Images_gifs/posterVertic/poster_velozes.png");
}

.johnwick_poster{
    background-image: url("../CSS/Images_gifs/posterVertic/poster_john_wick.png");
}

.topgun_poster{
    background-image: url("../CSS/Images_gifs/posterVertic/poster_topgun.png");
}

.tropa_de_elite_poster{
    background-image: url("../CSS/Images_gifs/posterVertic/poster_tropa_de_elite.png");
}

.kingsman_poster{
    background-image: url("../CSS/Images_gifs/posterVertic/poster_kingsman.png");
}

.guardioes_poster{
    background-image: url("../CSS/Images_gifs/posterVertic/poster_guardioes.png");
}

.regresso_poster{
    background-image: url("../CSS/Images_gifs/posterVertic/poster_regresso.png");
}

.interestelar_poster{
    background-image: url("Images_gifs/posterVertic/poster_interestelar.png");
}

.homem_aranha_poster{
    background-image: url("Images_gifs/posterVertic/poster_homem_aranha.png");
}

.pantera_negra_poster{
    background-image: url("Images_gifs/posterVertic/poster_wakanda.png");
}

.pooh_poster{
    background-image: url("Images_gifs/posterVertic/poster_winnie_the_pooh.png");
}

.freira2_poster{
    background-image: url("Images_gifs/posterVertic/poster_freira2.png");
}

.sobrenatural_poster{
    background-image: url("Images_gifs/posterVertic/poster_sobrenatural.png");
}

.panico6_poster{
    background-image: url("Images_gifs/posterVertic/poster_panico6.png");
}

.exorcista_poster{
    background-image: url("Images_gifs/posterVertic/poster_exorcista.jpg");
}